# basics

psutil
moment
gitpython

# Flask

flask
flask-restful
flask_script
flask-cors
watchdog

# Database

flask_migrate
flask_sqlalchemy

# User Login

passlib
flask_jwt_extended

# Sockets

pyee==1.0.1
tornado==6.3.3
websocket-client==0.32.0
flask_socketio
inflection

# Voice

PyAudio==0.2.11
SpeechRecognition
gtts

# Tests

pytest
webtest
factory-boy==2.8.1

# NLU

padatious

# Wifi Setup

pyric
wifi

# Production

uwsgi
