.amber.secondary {
  background-color: #004cff !important;
}

.blue.secondary {
  background-color: #e57b1e !important;
}

.brown.secondary {
  background-color: #41626d !important;
}

.cyan.secondary {
  background-color: #c11500 !important;
}

.deep-orange.secondary {
  background-color: #1ec1f4 !important;
}

.deep-purple.secondary {
  background-color: #88b135 !important;
}

.green.secondary {
  background-color: #a0439c !important;
}

.indigo.secondary {
  background-color: #ab9b39 !important;
}

.light-blue.secondary {
  background-color: #e54d03 !important;
}

.light-green.secondary {
  background-color: #7942b3 !important;
}

.lime.secondary {
  background-color: #3d33ca !important;
}

.orange.secondary {
  background-color: #006ffb !important;
}

.pink.secondary {
  background-color: #1bd893 !important;
}

.purple.secondary {
  background-color: #40aa24 !important;
}

.red.secondary {
  background-color: #35e1e5 !important;
}

.teal.secondary {
  background-color: #89000e !important;
}

.yellow.secondary {
  background-color: #355afd !important;
}


